[Unit]
Description=Garage Door Opener status monitor service over TCP socket

[Service]
ExecStart=/opt/garage-opener/src/sockserver.py 4444 /var/log/garageopener.log
WorkingDirectory=/opt/garage-opener/src/
StandardOutput=inherit

[Install]
WantedBy=multi-user.target
Alias=garageopener.service
