[Unit]
Description=Garage Door Opener Service

[Service]
ExecStart=/opt/garage-opener/src/main.py
WorkingDirectory=/opt/garage-opener/src/
StandardOutput=inherit

[Install]
WantedBy=multi-user.target
Alias=garageopener.service
